.container.container--lost
  .container__section
    .title
      h2.title__resume 404
    .content.content--resume
      p Whoops. I have no idea where did you want to go.
      p Here! take a cat. He will guide you.
      p: em Good Luck
