
.morph-container

footer
  .footer__container
    .title
      h2 Say Hi!

    .content
      ul
        li: a(href="https://dribbble.com/AngelaVelasquez" target="_blank") Dribbble
        li: a(href="https://twitter.com/AngelaVelasquez" target="_blank") Twitter
        li: a(href="http://codepen.io/AngelaVelasquez/" target="_blank") Codepen
        li: a(href="http://linkedin.com/in/angelavelasquez" target="_blank") Linkedin
        li: a(href="http://behance.net/angelavelasquez" target="_blank") Behance
        
        