
header.header--main
  a(href="index.html").header__index
    img(src="images/logo_angelato.svg" alt="Back to the magic place called Home")
  a(href="resume.html").header__option Angela's Resume
  a(href="blog.html").header__option.header__option--blog Blog