
.container.container--blog
  h1.container__title Blog
  .container__section
    .title
      h2.title--blog: a(href="http://codepen.io/AngelaVelasquez/full/BWXbxP/" target="_blank") Form with SVG radio buttons
    .content.content--blog
      p I made this pen to practice writing more semantic and accesible html. I previously made a pen about: CSS radio buttons. So because of that, I think a form could be a great start for me to practice and learn how to write better HTML.
      p: a(href="http://codepen.io/AngelaVelasquez/full/BWXbxP/" target="_blank") Demo...
  .container__section
    .title
      h2.title--blog: a(href="http://codepen.io/AngelaVelasquez/post/css-styling-radio-button" target="_blank") Remake: CSS radio buttons
    .content.content--blog
      p Hello Everyone
      p This is my first blog post. I've been creating pens since a few years ago. But now I have this need to write about new stuff that I learn.
      p: a(href="http://codepen.io/AngelaVelasquez/post/css-styling-radio-button" target="_blank") Read more...