
.container.container--welcome
  .container__section
    .title
      h1.title--welcome( id="ShowText")

    .content.content--welcome
      p My name is Angela.
      p I make 
        a(href="https://dribbble.com/AngelaVelasquez" target="_blank") designs 
        |and write 
        a(href="http://codepen.io/AngelaVelasquez/" target="_blank") code
        |. Recently I began with to write stuff in my blog, feel free to 
        a(href="blog.html") read 
        | something.
      p Feel free to read more 
        a(href="resume.html" class="show-picture") about me
          img(src="images/photo.png" class="picture-me")
        | .