
.container.container--resume
  h1.container__title Resume
  .container__section
    .title
      h2.title__resume About me
    .content.content--resume
      p I&#8217;m 
        a(href="https://twitter.com/AngelaVelasquez" target="_blank" class="show-picture") Angela Velasquez
          img(src="images/photo.png" class="picture-me")
      p 
        strong UI/Graphic Designer 
        | from Honduras.
      p 
        a(href="mailto:hello@angelato.design?Subject=You%are%20awesome"  target="_top") hello@angelato.design 
        | | 
        a(href="tel:+50499003883") +504 99003883
  .container__section
    .title
      h2.title__resume Skills
    .content.content--resume
      p I have knowledge in design principles, branding design, UX principles, color psychology, frontend design and development (HTML, CSS, SASS, BEM, and basic Javascript). 
      p I use Adobe Illustrator, Photoshop, Sketch, Brackets and Github.
  .container__section
    .title
      h2.title__resume Experience 
    .content.content--resume
      p
        strong UX/UI Designer 
        | at 
        em Laureate International Universities
      span November 2012 - Present
      ul.content__list
        li Developing corporate guidelines for design.
        li Creating an organization-wide CSS components framework.
        li Designing various public and internal sites.
        li Designing iconography and 
          a(href="https://www.behance.net/gallery/51629989/Logos-Vol-2-Laureate" target="_blank") branding for products.
        li Coding prototypes with CSS and HTML.
        li Working with stakeholders to steer projects. 
        li Improving usability throughout various web properties. 
        li Managing user tests and usability research.
      p
        strong Junior Designer 
        | at 
        em Premper Web Agency
      span August 2011 - October 2012
      ul.content__list
        li Designing web properties for various clients.
      p
        strong Freelance
      span 2010 - July 2011
      ul.content__list
        li Working with various clients, creating strong brands and assets as well as web designs.
  .container__section
    .title
      h2.title__resume Education
    .content.content--resume
      p
        strong Bachelor in Graphic Design 
        | at
        em  Ceutec
      span 2007 - 2010
      ul.content__list
        li Learning design concepts, color psychology, a variety of pictorial techniques and arts, execution of visual strategies and marketing studies.
        li Learning how to stay awake for three days without sleeping.
        
  .container__section
    .title
      h2.title__resume 
    .content.content--resume
      p View my resume on 
        a(href="http://linkedin.com/in/angelavelasquez" target="_blank") Linkedin.